<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  <main>
    <aside>
      <div class="container">
        <div class="navigation">
          <ul>
            <li>
              <a href="#">
                <span class="material-icons">
                  laptop
                </span>

                <span class="title">Name</span>
              </a>
            </li>
            <li>
              <a href="/home">
                <span class="material-icons">home</span>
                <span class="title">Home</span>
              </a>
            </li>
            <li>
              <a href="/customizacao">
                <span class="material-icons">settings</span>
                <span class="title">Customização</span>
              </a>
            </li>
            <li>
              <a href="/login">
                <span class="material-icons">logout</span>
                <span class="title">Sair</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>

    <!-- main -->
    <section>
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <span class="material-icons">menu</span>
          </div>
          <div>
            <span>Análise</span>
          </div>

          <!-- userImage -->
          <div class="user">
            <span class="material-icons">account_circle</span>
          </div>
        </div>

        <!-- cards -->
        <div class="cardBox">
          <div class="card">
            <div>

              <div class="numbers">R$ <%= valoresPrevisao.valor %> </div>
              <div class="cardName"> <%= valoresPrevisao.descricao %> </div>

            </div>
            <div class="iconBx">
              <span class="material-icons">sentiment_satisfied_alt</span>
            </div>
          </div>
          <div class="card">
            <div>

              <div class="numbers">R$ <%= valoresPagamentos.valor %> </div>
              <div class="cardName"> <%= valoresPagamentos.descricao%> </div>

            </div>
            <div class="iconBx">
              <span class="material-icons">payments</span>
            </div>
          </div>
          <div class="card">
            <div>

              <div class="numbers">R$ <%= valoresBalanco.valor %> </div>
              <div class="cardName"> <%= valoresBalanco.descricao %> </div>

            </div>
            <div class="iconBx">
              <span class="material-icons">account_balance_wallet</span>
            </div>
          </div>
        </div>

        <!-- charts -->
        <div class="graphBox">

          <div class="box">
            <canvas id="myChart"></canvas>
          </div>
          <div class="box">
            <canvas id="verticalBar"></canvas>
          </div>
        </div>

      </div>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  <script src="/javascripts/my_chart.js"></script>
</body>

</html>
