<!DOCTYPE html>
<html lang="en">
  <% styles.push('navigation', 'header') %> <%- include('./partials/head') %>

  <body>
    <%- include('./partials/navigation') %>

    <main>
      <%- include('./partials/header') %>

      <!-- cards -->
      <div class="cardBox">
        <% dados.forEach(dado => { %>
        <div class="card">
          <div>
            <div class="numbers">R$ <%= dado.valor %></div>
            <div class="cardName"><%= dado.descricao %></div>
          </div>
          <div class="iconBx">
            <span class="material-icons"><%= dado.icone %> </span>
          </div>
        </div>
        <% }) %>
      </div>

      <!-- charts -->
      <div class="graphBox">
        <div class="box">
          <canvas id="myChart"></canvas>
        </div>
        <div class="box">
          <canvas id="verticalBar"></canvas>
        </div>
      </div>
    </main>
    <script>
      const ejsData = {
        categorias: <%- JSON.stringify(categorias) %> ,
        gastosCategoria: <%- JSON.stringify(gastosCategoria) %> ,
        rendimentosMes: <%- JSON.stringify(rendimentosMes) %> ,
        paletteCat: <%- JSON.stringify(paletteCat) %>,
        paletteMonths: <%- JSON.stringify(paletteMonths) %>,
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="/javascripts/my_chart.js"></script>
  </body>
</html>
