<!DOCTYPE html>
<html lang="en">
  <% styles.push('transaction-table', 'navigation', 'header') %> <%-
  include('./partials/head') %>

  <body>
    <%- include('./partials/navigation') %>

    <div>
      <%- include('./partials/header') %>
      <main>
        <section id="left-section">
          <div class="card">
            <div>
              <span class="font-subtitle-1">Balanço</span>
            </div>
            <div>
              <span class="font-headline-6">R$ <%= balanco %></span>
            </div>
          </div>
          <div class="card">
            <span class="font-subtitle-2">Cadastrar entrada ou saída</span>
            <form action="" method="post">
              <label>Valor <input type="text" name="value" /></label>
              <label>Descrição <input type="text" name="description" /></label>
              <label>Categoria </label>
              <% categorias.forEach(categoria => { %>
              <div>
                <input type="radio" name="categoria" value="<%= categoria.id %>"
                id="cat-<%= categoria.id %>" <%= categoria.id===1?"checked":""%>
                />
                <label for="cat-<%=categoria.id %>"
                  ><%= categoria.nome %>
                </label>
              </div>
              <% }) %>
              <label>Data <input type="datetime-local" name="date" /></label>
              <input type="submit" value="Cadastrar" />
            </form>
          </div>
        </section>
        <section id="right-section">
          <section id="top-right-section">
            <div class="card">
              <div>
                <button id="anterior">Mês anterior</button>
                <button id="proximo">Próximo mês</button>
              </div>
              <%- include('./partials/transaction-table', {table}) %>
            </div>
          </section>
        </section>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="/javascripts/home.js"></script>
  </body>
</html>
