<% if (locals.includeCSS) { %>
<link rel="stylesheet" href="./stylesheets/transaction-table.css">
<% } %>
<div class="transaction-table">
  <div class="transaction-table-column">
    <% table.values.forEach(value => { %>
    <span style="color: <%= value >= 0 ? "unset" : "red" %>;">R$ <%= Math.abs(value) %> </span>
    <% }) %>
  </div>
  <div class="transaction-table-column description-column">
    <% table.descriptions.forEach(description => { %>
    <span><%= description %> </span>
    <% }) %>
  </div>
  <div class="transaction-table-column">
    <% table.dates.forEach(date => { %>
    <span><%= date.toLocaleString('pt-BR', { dateStyle: 'short', timeStyle: 'short' }); %> </span>
    <% }) %>
  </div>
</div>
<div class="transaction-table-total">
  <span style="color: <%= table.total >= 0 ? "unset" : "red" %>;">R$ <%= table.total %> </span>
</div>
