<table class="transaction-table">
  <thead>
    <tr class="font-subtitle-2">
      <th scope="col">Data</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <% table.transactions.forEach(transaction => { %>
    <tr>
      <th scope="row"><%= transaction.dataParsed %></th>
      <td><%= transaction.descricao %></td>
      <td class="<%= transaction.valor < 0 ? 'negative' : '' %>">
        <%= transaction.valor %>
      </td>
    </tr>
    <% }) %>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row" class="font-subtitle-2">Total</th>
      <td></td>
      <td class="<%= table.total < 0 ? 'negative' : '' %>">
        <%= table.totalParsed %>
      </td>
    </tr>
  </tfoot>
</table>
